<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div class="messageContainer">
			<a href="/new">Send new message</a>
			<ul>
				<% messages.forEach((message, index) => { %>
				<li>
					<%= message.text %>
					<br />
					from: <%= message.sender%>
					<a href="/detail/<%= index %>">Click for more</a>
				</li>
				<% }) %>
			</ul>
		</div>
	</body>
</html>
