<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<ul>
			<% messages.forEach((message, index) => { %>
			<li>
				<%= message.text %> from: <%= message.user%>
				<a href="/detail/<%= index %>">Click for more</a>
			</li>
			<% }) %>
		</ul>
		<a href="/new">Send new message</a>
	</body>
</html>
